/* Colors */
@import url('../../assets/container.css');

#main-header {
    height: 2rem;
    width: 100%;

    position: fixed;
    top: 0;
    z-index: 50;

    background-color: white;
    box-shadow: 0 1px 1px var(--color-box-shadow);

    display: flex;
    flex-direction: row;
    align-items: center;
}