.container-elements {
    width: calc(100vw - 17px);
    padding: 0 25vw;
    position: relative;
    height: auto;
}

.container-elelments--fulwidth {
    height: auto;
    width: calc(100vw - 17px);
    padding: 0 25vw;
    position: relative;
}


/* Responsive */
@media screen and (max-width: 1440px) {
    .container-elements {
        padding: 0 20vw;
    }
}

@media screen and (max-width:1024px) {
    .container-elements {
        padding: 0 15vw;
    }
}

@media screen and (max-width: 770px) {
    .container-elements {
        padding: 0 5px;
    }
}