div {
    height: 2rem;

    font-weight: bold;
    font-size: large;

    display: flex;
    flex-direction: row;
    align-items: center;
}

span {
    color: #800000;
    font-size: x-large;
    font-weight: bolder;

    vertical-align: middle;
}