:host {
    --color-text-dark: rgb(248, 250, 252);
    --color-text-light: rgb(97, 103, 122);
}


#wordscontainer-box {
    padding: 1rem;

    border-radius: 1rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 1.5rem;

    color: var(--color-text-light);

    transition-duration: 200ms;
    transition-property: color;

    .wordsline {
        display: flex;
        flex-direction: row;
        gap: 1.5rem;
        align-items: center;

        div {
            font-size: 2rem;
            font-weight: bold;
            user-select: none;
        }
    }
}