#wordscontainer-box {
    padding: 1rem;

    border-radius: 1rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 1.5rem;

    .wordsline {
        display: flex;
        flex-direction: row;
        gap: 1.5rem;
        align-items: center;

        div {
            font-size: 2rem;
            font-weight: bold;
            color: var(--color-main-2nd);
            user-select: none;
        }
    }
}