div {
    height: 2rem;

    font-weight: bold;
    font-size: large;

    display: flex;
    flex-direction: row;
    align-items: center;
}

div:hover {
    cursor: pointer;
}

span {
    color: var(--color-logo-red);
    font-size: x-large;
    font-weight: bolder;

    vertical-align: middle;
}