@import url('../../assets/container.css');

:host {
    --color-bg-light: rgba(248, 250, 252, 0.4);
    --color-bg-dark: rgb(39, 40, 41);
}

#typinggame-container {
    width: 100%;
    height: 100vh;
    gap: 1rem;
    padding-top: 3.5rem;

    z-index: 30;
    background-color: var(--color-bg-superlight);

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#typinggamepage-content {
    flex-grow: 1;
    padding: 1rem;
    gap: 1rem;

    border-radius: 0.5rem;
    box-shadow: 1px 1px 2px var(--color-box-shadow);


    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding-top: 20rem;

    .game__options {
        height: 3rem;
        width: 30rem;

        position: absolute;
        top: 2rem;

        border: solid 2px var(--color-main-1st);
        border-radius: 1rem;

        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;

        ._option {
            font-weight: bold;
            color: var(--color-main-2nd);
        }

        ._option:hover {
            cursor: pointer;
            color: var(--color-logo-red);
        }
    }

    .game__options:hover {
        border-color: var(--color-logo-red);
    }

    .game__main {
        min-height: 10rem;
        width: 70rem;
        background: var(--color-bg-light);
        border-radius: 1rem;
        box-shadow: 1px 1px 2px var(--color-box-shadow);

        transition-property: all;
        transition-duration: 400ms;
    }

    .game__bot-option {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 2rem;

        button {
            height: 3rem;

            display: flex;
            align-items: center;
            gap: 1rem;
            padding: 0 1rem;

            font-size: 1.2rem;
            font-weight: bold;
            color: var(--color-main-1st);
            border: none;
            border-radius: 1rem;
        }

        button:hover {
            cursor: pointer;
            background: var(--color-main-4th);
            color: var(--color-logo-red);
            box-shadow: 1px 1px 2px var(--color-box-shadow);

            svg {
                stroke: var(--color-logo-red);
            }
        }
    }
}

._language {
    width: 13rem;
}

._theme {
    width: 8em;
}