<div id="typinggame-container" class="container-elements--fullwidth">
    <div id="typinggamepage-content">
        <div class="game__options">
            <div class="_option">option1</div>
            <div class="_option">option2</div>
            <div class="_option">option3</div>
            <div class="_option">option4</div>
        </div>
        <div class="game__main">
            <div class="words-question-box">
                <game-wordscontainer>

                </game-wordscontainer>
            </div>

        </div>
    </div>
</div>