<div id="login-container" class="container-elements">
    <div id="content-container" class="page__element">
        <h2>logCenter </h2>
        <p>help you to build your profile, links, share status,...</p>
    </div>
    <div id="form-container" class="page__element">
        <!-- Login form -->
        <div id="form-login" class="form">
            <div class="form__welcome">
                login to&nbsp;<app-logo></app-logo>
            </div>
            <div class="form__input">
                <label class="form__input__label" for="">» username</label>
                <input class="form__input__input" type="text">
                <span class="form__input__warning">» warning !</span>
            </div>
            <div class="form__input">
                <label class="form__input__label" for="">» password</label>
                <input class="form__input__input" type="text">
                <span class="form__input__warning">» warning !</span>
            </div>
            <hr style="border: 1px solid whitesmoke; width: 100%;">

            <button class="form__button">Go</button>

            <div class="form__option">new to logCenter?&nbsp; <a href="">sign up</a></div>

        </div>
        <!--  Register form-->
        <div id="form-register" class="form hidden">

        </div>

        <!-- Forgot password form -->
        <div id="form-forgorpassword" class="form hidden">

        </div>

    </div>
</div>