<div id="right-option" class="options-box">

    <div id="user-container" class="container__element">
        user infor
    </div>
    <div id="options-container" class="container__element ">
        <div>home</div>
        <div>profile</div>
        <div>about</div>
        <div>sign in</div>
        <div>out</div>
    </div>

    <div id="about-container" class="container__element ">
        About
        <span>author: <a href="https://github.com/cjjjjjjk">cjjjjjk</a></span>
        <span>github 👾: <a href="https://github.com/cjjjjjjk/logCenter">logCenter</a></span>
    </div>

</div>